.MessagesForKey {

  .message, .currentMessage {


    @include panel;
    //width: 580px;




  }

  .message {
    padding: 14px 8px;
  }

  .currentMessage {
    padding: 23px 27px 22px;
  }

  h2 {
    border-bottom: 1px solid $aside-delimiter-color;
    padding-bottom: 10px;
  }

  textarea {
    padding: 14px;
    background-color: $panels-bg-color;
    border: none;
    color: $text-color;
    caret-color: violet;

    &:focus {
      outline: none;
    }
  }


}