.messagesForKey {
  width: 990px;


  .messagesForKey__content {
    @include panel;
    padding: 28px;

    padding-bottom: 65px;

    .messagesForKey__newMessage,
    .messagesForKey__currMessage {
      @include panel;
      padding-bottom: 1px;
      background-color: $panels-additional-bg-color;
      width: 580px;
    }

    .messagesForKey__newMessage {
      margin-bottom: 20px;
    }

    .messagesForKey__currMessage {
      textarea {
        margin-left: 50px;
      }
    }

    h2, h3 {
      border-bottom: 1px solid $aside-delimiter-color;
      padding: 12px 8px;
      margin: 0;
      font-size: 18px;
      font-weight: bold;
      @include panel;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    h3 {
      margin: 0;
      font-size: 15px;
      padding-left: 23px;
    }

    textarea {
      font-size: 15px;
      line-height: 22.5px;
      background-color: transparent;
      border: none;
      color: $text-color;
      caret-color: violet;
      resize: none;
      margin-top: 10px;

      &:focus {
        outline: none;
      }
    }

    p {
      text-align: right;
      margin-right: 12px;
      font-size: 10px;
      font-weight: 300;
      line-height: 22.5px;
      color: $table-header-color;
    }

    .buttonPanel {
      text-align: right;
      margin-top: 10px;
      width: 580px;

      button {
        // @include primary-button;
        padding: 8px 24px;
      }

      &:not(:last-of-type) {
        margin-bottom: 23px;
      }
    }
  }

}