$page-bg-color: #18181b;
$panels-bg-color: #232229;
$panels-additional-bg-color: #595863;
$text-color: #fff;
$aside-delimiter-color: rgba(255, 255, 255, 0.15);
$primary-color: #79109D;
$search-bg-color: #3B3944;
$table-header-color: #CFD3EC;
$inactive-text-color: #7983BB;
$additional-panel-bg-color: #393942;
$active-account-tip-color: #0CC508;
$pending-button-bg-color: #FFD400;

