.wrapper {
  display: block;
}

.inputData {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.inputLabel {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-right: 30px;
}

.inputInput {
  padding: 8px 24px;
  background-color: $additional-panel-bg-color;
  border-radius: 6px;
  width: 100%;
}