.donut {
  @include panel;

  padding: 0 16px;
  width: 100%;
  height: 550px;

  display: flex;
  flex-direction: column;
}

.сontent {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  margin-top: 36px;
}

.label {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.01em;
  margin-bottom:  10px;
}

.input {
  padding: 8px 24px;
  background-color: $additional-panel-bg-color;
  margin-bottom: 10px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.01em;
}

.button {
  @include button($additional-panel-bg-color, 9px 13px);

  &:not(:last-of-type) {
    margin-right: 6px;
  }
}

.pending {
  background-color: $pending-button-bg-color;
}

.footer {
  display: flex;
  justify-content: right;
  margin: auto 38px 38px 0;
}

.save {
  background-color: $primary-color;
}




