.donut {
  @include panel;

  padding: 0 16px;
  width: 100%;
}

.label {
  @include label;
}

.input {
  @include input;
}

.button {
  @include button;

  &:not(:last-of-type) {
    margin-right: 6px;
  }
}

.footer {
  @include footer;
}

.donutForm {
  display: flex;
  flex-direction: column;
  height: 650px;
}

.content {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(8, 50px);
  align-items: center;
  margin-top: 36px;
}

.pending {
  background-color: $pending-button-bg-color;
}

.save {
  background-color: $primary-color;
}

