@mixin input {
    background-color: $search-bg-color;
    outline: none;
    border: 1px solid transparent;
    color: $text-color;
    border-radius: 6px;
    padding: 9px 24px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.01em;

    &:focus {
        border: 1px solid $text-color;
    }
}