.promoGenerator {
  @include panel;

  padding: 0 16px;
  width: 100%;
}

.label {
  @include label;
  margin-bottom: 10px;
}

.input {
  @include input;
  margin-bottom: 10px;
}

.button {
  @include button;

  &:not(:last-of-type) {
    margin-right: 6px;
  }
}

.footer {
  @include footer;
}

.promoForm {
  height: 350px;
  display: flex;
  flex-direction: column;
}

.content {
  align-items: center;
  margin-top: 36px;

  display: grid;
  grid-template-columns: 150px 85px 300px;
  grid-template-rows: repeat(2, 1fr);
}

.div1 {
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  grid-area: 1 / 2 / 2 / 3;
}

.div3 {
  grid-area: 2 / 1 / 3 / 2;
}

.div4 {
  grid-area: 2 / 2 / 3 / 3;
}

.div5 {
  grid-area: 2 / 3 / 3 / 4;
  margin-left: 10px;
}

.generate {
  background-color: $primary-color;
}