.panel {
  @include panel;
  width: 100%;
}

.counter {
  font-weight: 400;
  font-size: 12px;
  line-height: 133%;
  color: $inactive-text-color;
  padding: 70px 20px 40px;
}

.pagination {
  text-align: end;
  padding: 15px 45px 0 0;
}

td.active {
  color: $active-account-tip-color;
}

td.blocked {
  color: $block-account-tip-color;
}

.link {
  color: #9F2EC7;
  text-decoration: none;
}

.button {
  @include button($primary-color);
}

.alignLeft {
  text-align: left;
}


