.wrapper {
    position: relative;
    
    input {
        @include input;
        width: 100%;
        color: transparent;
        caret-color: $text-color;
        padding-right: 5px;
    }
}

.value {
    position: absolute;
    left: 24px;
    top: 8px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.01em;
    color: $text-color;
    white-space: nowrap;
    pointer-events: none;
}

.icon {
    position: absolute;
    right: 24px;
    top: 8px;
    width: 16px;
    height: 16px;
    // background-size: 16px 16px;
    // background-repeat: no-repeat;
}