@import '../fonts/fonts.scss';

:root {
  font-family: "Manrope", sans-serif;
}

body {
  background-color: $page-bg-color;
  color: $text-color;
  overflow-x: hidden;

}

input {
  background-color: transparent;
  outline: none;
  border: none;
  color: $text-color;
}