@import '../fonts/fonts.scss';

body {
  background-color: $page-bg-color;
  color: $text-color;
  overflow-x: hidden;
  font-family: "Manrope", sans-serif;
  margin-top: calc(#{$header-height} + 20px);
}

input {
  background-color: transparent;
  outline: none;
  border: none;
  color: $text-color;
}