.editGame {
  @include panel;
  width: 100%;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
}

.label {
  @include label;
  margin-bottom: 10px;
}

.input {
  @include input;
  margin-bottom: 10px;
}

.footer {
  @include footer;
}

.button {
  @include button($additional-panel-bg-color);
}

.save {
  @include button;
  background-color: $primary-color;
  margin-left: 6px;
}

.left {
  margin-right: auto;
}

.content {
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: repeat(3, 50px);
  align-items: center;
  margin-top: 36px;
}

.editForm {
  display: flex;
  flex-direction: column;
  height: 400px;
}


